@media(min-width: 700px){
    .headerdiv{
        height: 700px;
        width: 100%;
        background-color:   #e7e1e0;

    }
    .headerbtdiv{
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    a{
        color: beige;
        text-decoration: none;
    }
    .headerbt{
        height: 90px;
        width: 200px;
        border: solid  beige;
        border-radius: 10px;
        background-color: #283047;
        color: beige;
        font-size: 30px;
    }
    .stars{
        display: flex;
        margin: auto;
        align-items: center;
        gap: 20px;
        width: 600px;
    }
    .star1{
        height: 100px;
        width: 100px;
    } 
    .bigtxt{
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 100px;
        font-family:  Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
        font-weight: 600;
        color: #283047;
        width: 700px;
        margin-top: 50px;
    }
    .smallertxt{
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 50px;
        font-family:  Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
        font-weight: 400;
        color: #65626A;
        width: 600px;
        margin-top: 20px;
    }
    .headertxts{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .headerbtdiv :hover{
        transform: scaleY(0.9);
    }
}
@media( max-width:700px){
    .headerdiv{
        height: 400px;
        width: 100%;
        background-color:  #e7e1e0;
    }
    .headerbtdiv{
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    .headerbt{
        height: 60px;
        width: 120px;
        border: solid  beige;
        border-radius: 10px;
        background-color: #283047;

    }
    a{
        color: beige;
        font-size: 20px;
        text-decoration: none;
    }
    .stars{
        display: flex;
        margin: auto;
        align-items: center;
        gap: 20px;
        width: 300px;
    }
    .star1{
        height: 40px;
        width: 40px;
    } 
    .bigtxt{
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 40px;
        Font-family: Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
        font-weight: 600;
        color:#283047;
        width: 300px;
        margin-top: 20px;
   
    
    }
    .smallertxt{
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 30px;
        font-family:  Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
        font-weight: 400;
        color: #65626A;
        width: 300px;
        margin-top: 20px;
    }
    .headertxts{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .headerbtdiv :hover{
        transform: scaleY(0.9);
    }
}
